.choices__inner {
    box-sizing: border-box;
    background-color: white !important;
    border-color: var(--main_blue) !important;
    border: 2px solid var(--main_blue) !important;
    border-radius: 0.5rem !important;
}

.choices__input {
    border-color: var(--main_pink) !important;
}

.choices__list--multiple .choices__item {
    background-color: var(--main_blue) !important;
    color: white !important;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 15 !important;
}
