.editor-container > :is(.trumbowyg-box, .trumbowyg-editor-box) {
    height: 95%;
    border: none;
}

.trumbowyg-editor-box, .trumbowyg-textarea {
    overflow-y: scroll;
}

/* Editor control panel */
.trumbowyg-box > .trumbowyg-button-pane {
    background: var(--light-blue);
}

.trumbowyg-button-pane > .trumbowyg-button-group > button > svg,
.trumbowyg-dropdown > button svg {
    color: var(--dark-blue-font);
    fill: var(--dark-blue-font);
}

.trumbowyg-button-pane > .trumbowyg-button-group > button:hover > svg,
.trumbowyg-dropdown > button:hover svg {
    color: var(--main-pink);
    fill: var(--main-pink);
}

.trumbowyg-button-pane > .trumbowyg-button-group > button:active > svg,
.trumbowyg-dropdown > button:active svg {
    color: var(--holiday-red);
    fill: var(--holiday-red);
}

.trumbowyg-button-pane.trumbowyg-disable .trumbowyg-not-disable svg {
    color: var(--main-pink);
    fill: var(--main-pink);
}

/* Modals */
.trumbowyg-modal-box .trumbowyg-input-row {
    min-height: 2rem;
    border-radius: 0.25rem;
    line-height: 1.75;
}

.trumbowyg-modal-box .trumbowyg-input-row .trumbowyg-input-html {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.trumbowyg-input-html input[type="file"] {
    display: flex;
    padding: 0 !important;
    font-family: Nunito, Arial, sans-serif;
    line-height: 1.9rem !important;
}

.trumbowyg-modal-box .trumbowyg-input-html input[type="file"]::file-selector-button,
.trumbowyg-modal-box .trumbowyg-input-html input[type="file"]::-webkit-file-upload-button {
    width: 99.75%;
    height: 90%;
    color: var(--main-font);
    background-color: var(--light-blue);
    border: none;
    border-radius: 0.15rem;
    cursor: pointer;
}

.trumbowyg-modal-box .trumbowyg-input-html input[type="file"]:is(:hover, :focus) {
    outline: none;
}

.trumbowyg-modal-box .trumbowyg-input-html input[type="file"]:hover::file-selector-button {
    background-color: var(--main-blue);
}

.trumbowyg-modal-box button.trumbowyg-modal-button {
    font-family: Nunito, Arial, sans-serif;
    border-radius: 0.25rem;
    color: var(--main-font);
}

.trumbowyg-modal-box button.trumbowyg-modal-button.trumbowyg-modal-submit {
    background-color: var(--main-blue);
}

.trumbowyg-modal-box button.trumbowyg-modal-button.trumbowyg-modal-submit:hover {
    background-color: var(--dark-blue-font);
    color: #FFFFFF;
}

.trumbowyg-modal-box button.trumbowyg-modal-button.trumbowyg-modal-reset:hover {
    background-color: var(--holiday-red);
    color: #FFFFFF;
}

.trumbowyg-editor[contenteditable=true]:empty::before{
    content: attr(placeholder);
    color: #999;
}
