.select-input {
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
}

.select-input .select-input__dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 15;
}

.select-input .select-input__option {
    width: 100%;
    border: none;
    background: none;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    text-align: left;
}

.select-input .select-input__option:disabled {
    cursor: default;
}

.select-input .select-input__option--value {
    min-width: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    background: none;
    border: none;
}

.select-input .select-input__option--value::after {
    content: "";
    width: 20px;
    height: 10px;
    flex-shrink: 0;
    background: transparent url("/public/images/icons/dropdown.svg") no-repeat;
    background-size: 100% 105%;
}

.select-input--active .select-input__option--value {
    display: none !important;
}

.select-input .select-input__option:not(.select-input__option--value) {
    padding: 0.5rem;
}

.select-input .select-input__option:not(.select-input__option--value):not(:first-child):hover {
    background-color: var(--light_blue);
}

.select-input .select-input__input {
    max-width: 95%;
    padding: 1rem;
    margin: 0.25rem 0.25rem 0;
}

.select-input .select-input__input + .select-input__option-wrap {
    width: 99%;
}
